body {
    background-image: url(./assets/memories.jpg);
    background-size: cover;
}

main{
    background-color: white;
    /* opacity: 70%; */
    margin: 10em;
    margin: 20px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}


.grid-container > .photo-item > img{
    object-fit: auto;
    width: 100%;
    height: 100%;
}