@media only screen and (max-width: 750px ) {
    a{
       display: none;
    }

    header{
        background-image: url(./assets/backgrond2.png);
        height: 55em;
    }

    header > h1{
        font-weight: 600;
        font-size: 2em;
    }

    header > p{
        color: rgb(255, 252, 252);
        font-size: 20px;
        font-weight:900;
        -webkit-text-stroke: 2px rgb(0, 0, 0); 
        
    }

    .hamburger-btn{
        display: block;
        padding: 0 20px;
    }

    #mobile{
        padding-left: 20px;
        padding-top: 10px;  
    }
    #mobile >ul> li{
        padding: 2px;
    }

    .container > h2{
        margin: 6em 0;
        font-size: 20px;
    }

    #tony, #natasha, #loki, #mori, #tomura, #swift {
        width: 10em;
    }
    .card > img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .paragraf{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 30px;
        margin: 2em 0;
        text-align: center;
    }

}

/* for iphone 12 pro */

@media only screen and (max-width: 360px ) {

    header{
        background-image: url(./assets/backgrond2.png);
        height: 55em;
    }
}