@media only screen and (max-width: 750px ) {
    a{
       padding: 0 7px;
       font-size: 10px;
    }

    header{
        background-image: url(./assets/backgrond2.png);
        height: 55em;
    }

    header > h1{
        font-weight: 600;
        font-size: 2em;
    }

    header > p{
        color: rgb(255, 252, 252);
        font-size: 20px;
        font-weight:900;
        -webkit-text-stroke: 2px rgb(0, 0, 0); 
        
    }

    .container > h2{
        margin: 6em 0;
        font-size: 20px;
    }

    #tony, #natasha, #loki{
        width: 10em;
    }
    .card > img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

/* for iphone 12 pro */

@media only screen and (max-width: 360px ) {
    a{
       padding: 0 2px;
       font-size: 10px;
    }

    header{
        background-image: url(./assets/backgrond2.png);
        height: 55em;
    }
}